In [4]:
# In [1]: # First, let's import the packages that we'll use in this chapter

import datetime as dt
import xlwings as xw
import pandas as pd
import numpy as np

In [5]:
# In [2]: # Let's create a DataFrame based on pseudorandom numbers and
        # with enough rows that only the head and tail are shown

df = pd.DataFrame(data=np.random.randn(100, 5),
                  columns=[f"Trial {i}" for i in range(1, 6)])
df

     Trial 1   Trial 2   Trial 3   Trial 4   Trial 5
0   0.162732 -0.447973 -0.074884 -0.351927  0.636095
1   0.219390 -0.928399 -0.257486  0.451271 -1.494017
2   0.828641  0.023819  1.235125 -0.383364 -0.459636
3  -0.267351 -0.438317 -2.684328  0.823587  0.308998
4  -0.321458 -1.351918 -1.875208 -1.492343 -2.106980
..       ...       ...       ...       ...       ...
95 -0.029281  1.026381  0.111499  1.316230  0.332662
96 -0.300193 -1.763310 -0.562306 -0.892164  0.104533
97 -1.689408  1.048464 -1.594164  0.995657  0.125801
98 -0.937735  0.734023 -0.407056 -0.434205  0.951645
99 -0.109079  0.114404 -0.176905 -0.236069 -0.039458

[100 rows x 5 columns]

In [6]:
# In [3]: # View the DataFrame in Excel

xw.view(df)