In [6]:
# Create a DataFrame based on pseudorandom numbers and with enough rows that only the head and tail are shown

import datetime as dt
import xlwings as xw
import pandas as pd
import numpy as np

df = pd.DataFrame(data=np.random.randn(100, 5),
                  columns=[f"Trial {i}" for i in range(1, 6)])
df

     Trial 1   Trial 2   Trial 3   Trial 4   Trial 5
0  -0.258495  0.746600 -1.369930 -1.235403 -0.945567
1  -0.662595  1.139147 -0.142183 -1.875139  0.515885
2  -0.823039 -1.602651  3.194913 -2.011995 -0.543032
3   1.050492  0.584417  0.717889  1.323261  0.249985
4   1.111337  0.960850 -0.792860 -0.746009 -1.227517
..       ...       ...       ...       ...       ...
95 -0.219874  1.155833  0.644118 -0.170670 -1.559133
96 -0.167350  0.579498 -0.988425 -0.142841  2.583441
97  0.892800  0.851865  0.870778 -0.593491 -1.605790
98 -0.160696  0.006497  0.874485 -0.488400 -0.992968
99 -2.586458  0.233268  0.827243  1.991864 -0.101697

[100 rows x 5 columns]

In [7]:
# View the DataFrame in Excel
xw.view(df)