In [7]:
import pandas as pd
import xlwings as xw

students = (
  {'TITLE': ['MR.', 'Mr.', 'Mr.', 'Miss', 'Miss', 'Mr.', 'Miss', 'Miss', 'Miss', 'Mr.'],
   'LAST_NAME': ['NISHIHARA', 'Smith', 'Leibstrom', 'Kanabar', 'Thiel', 'Reichel',
                 'OConner', 'Rao', 'Crock', 'McDonald'],
   'FIRST_NAME': ['ALAN', 'Daniel', 'Ben', 'Kavita', 'Linda', 'Omar', 'Jane', 'Felicia', 'Rachel',
                  'Bob'],
   'STATE': ['OR', 'NY', 'NY', 'PA', 'CA', 'OK', 'HI',
                  'NY','FL', 'FL'],
   'YR': [4, 1, 1, 1, 4, 2, 2, 3, 1, 1],
   'AGE': [22, 18, 19, 19, 22, 21, 19, 20, 17, 18],
   'CALC_101_FINAL': [100, 90, 80, None, 60, 70, None, None, None, 98],
   'ENG_101_FINAL': [100, 80, None, None, 40, 50, None, None, 60, 65],
   'ECON_101_FINAL': [100, 90, 80, None, None, None, None, None, None, None],
   'STAT_201_FINAL': [100, 200, 300, None, None, None, None, None, None, None]})

df_students = pd.DataFrame(students)
df_students.index = [1,2,3,4,5,6,7,8,9,10]

# sorted_df_students = df_students.sort_values(by=['AGE'], ascending=False, inplace=True)
sorted_df_students = df_students.sort_values(by=['LAST_NAME'], ascending=False, inplace=True)
print(sorted_df_students)

# Filter data based on a condition
filtered_df = df_students.loc[df_students['AGE'] <= 20]

# Print the filtered DataFrame
print(filtered_df)

# xw.view(df_students.head(2))
# df_students.head(3)

# df_students

None
   TITLE  LAST_NAME FIRST_NAME STATE  YR  AGE  CALC_101_FINAL  ENG_101_FINAL  \
2    Mr.      Smith     Daniel    NY   1   18            90.0           80.0
8   Miss        Rao    Felicia    NY   3   20             NaN            NaN
7   Miss    OConner       Jane    HI   2   19             NaN            NaN
10   Mr.   McDonald        Bob    FL   1   18            98.0           65.0
3    Mr.  Leibstrom        Ben    NY   1   19            80.0            NaN
4   Miss    Kanabar     Kavita    PA   1   19             NaN            NaN
9   Miss      Crock     Rachel    FL   1   17             NaN           60.0

    ECON_101_FINAL  STAT_201_FINAL
2             90.0           200.0
8              NaN             NaN
7              NaN             NaN
10             NaN             NaN
3             80.0           300.0
4              NaN             NaN
9              NaN             NaN