In [13]:
import pandas as pd
import openpyxl
from openpyxl import Workbook
from openpyxl.styles import Font
from openpyxl.styles import PatternFill
from openpyxl.styles import Border, Side
from openpyxl.styles import Alignment
from openpyxl.utils import get_column_letter

path = 'DATA_FILES/X_TEST_EXCEL_CREATE.xlsx'

# Define colors
red = "00FF0000"
blue = "000000FF"
green = "0000FF00"
yellow = "00FFFF00"
orange = "00FF6600"
pink = "00FF00FF"
rose = "00FF00FF"
lightred = "00FF9999"
lightblue = "0099CCFF"
lightgreen = "0099CC00"
darkblue = "0000FFFF"

students = (
  {'TITLE': ['Mr.', 'Mr.', 'Mr.', 'Miss', 'Miss', 'Mr.', 'Miss', 'Miss', 'Miss', 'Mr.'],
   'FIRST_NAME': ['Alan', 'Daniel', 'Ben', 'Kavita', 'Linda', 'Omar', 'Jane', 'Felicia', 'Rachel',
                  'Bob'],
   'LAST_NAME': ['Nishihara', 'Smith', 'Leibstrom', 'Kanabar', 'Thiel', 'Reichel',
                 'OConner', 'Rao', 'Crock', 'McDonald'],
   'STATE': ['OR', 'NY', 'NY', 'PA', 'CA', 'OK', 'HI',
                  'NY','FL', 'FL'],
   'YR': [4, 1, 1, 1, 4, 2, 2, 3, 1, 1],
   'AGE': [21, 18, 19, 19, 22, 21, 19, 20, 17, 18],
   'CALC_101_FINAL': [95, 90, 80, None, 60, 70, None, None, None, 98],
   'ENG_101_FINAL': [95, 80, None, None, 40, 50, None, None, 60, 65],
   'ECON_101_FINAL': [95, 90, 80, None, None, None, None, None, None, None],
   'STAT_201_FINAL': [95, 200, 300, None, None, None, None, None, None, None]})

df_students = pd.DataFrame(students)
df_students.index = [1,2,3,4,5,6,7,8,9,10]
df_students = df_students.rename_axis('ROW')
df_students.to_excel(path)

# Load the Excel file
workbook = openpyxl.load_workbook(path)

# Select the worksheet
worksheet = workbook.active

# Align
for rows in worksheet.iter_rows(min_row=1, max_row=11, min_col=1, max_col=1):
    for cell in rows:
        # Create an alignment object and set the horizontal alignment to right
        alignment = Alignment(horizontal='right')
        cell.alignment = alignment

# Align center
for rows in worksheet.iter_rows(min_row=1, max_row=11, min_col=5, max_col=7):
    for cell in rows:
        # Create an alignment object and set the horizontal alignment to right
        alignment = Alignment(horizontal='center')
        cell.alignment = alignment

# Create borders
border_style = Border(left=Side(style='thick'),
                      right=Side(style='thick'),
                      top=Side(style='thick'),
                      bottom=Side(style='thick'))

# Apply borders
for rows in worksheet.iter_rows(min_row=1, max_row=11, min_col=1, max_col=11):
  for cell in rows:
    cell.border = border_style

# Apply color shading to header row (row 1)
for rows in worksheet.iter_rows(min_row=1, max_row=1, min_col=1, max_col=11):
  for cell in rows:
    cell.fill = PatternFill(start_color=yellow, end_color=yellow, fill_type="solid")

# Apply color shading to odd-numbered rows
for rows in worksheet.iter_rows(min_row=2, max_row=11, min_col=1, max_col=11):
  for cell in rows:
    if cell.row % 2:
      cell.fill = PatternFill(start_color=lightblue, end_color=lightblue, fill_type="solid")

# Set the column width
worksheet.column_dimensions['A'].width = 6 # Set column A width
worksheet.column_dimensions['B'].width = 12 # Set column B width
worksheet.column_dimensions['C'].width = 18 # Set column C width
worksheet.column_dimensions['D'].width = 18 # Set column D width
worksheet.column_dimensions['E'].width = 8 # Set column E width
worksheet.column_dimensions['F'].width = 8 # Set column F width
worksheet.column_dimensions['G'].width = 8 # Set column G width
worksheet.column_dimensions['H'].width = 18 # Set column H width
worksheet.column_dimensions['I'].width = 18 # Set column I width
worksheet.column_dimensions['J'].width = 18 # Set column J width
worksheet.column_dimensions['K'].width = 18 # Set column K width

# Save the changes
workbook.save(path)

# Read the Excel file
df = pd.read_excel(path)

# Print the DataFrame to the screen
print(df)

# Display the DataFrame as an Excel file
display(df)

   ROW TITLE FIRST_NAME  LAST_NAME STATE  YR  AGE  CALC_101_FINAL  \
0    1   Mr.       Alan  Nishihara    OR   4   21            95.0
1    2   Mr.     Daniel      Smith    NY   1   18            90.0
2    3   Mr.        Ben  Leibstrom    NY   1   19            80.0
3    4  Miss     Kavita    Kanabar    PA   1   19             NaN
4    5  Miss      Linda      Thiel    CA   4   22            60.0
5    6   Mr.       Omar    Reichel    OK   2   21            70.0
6    7  Miss       Jane    OConner    HI   2   19             NaN
7    8  Miss    Felicia        Rao    NY   3   20             NaN
8    9  Miss     Rachel      Crock    FL   1   17             NaN
9   10   Mr.        Bob   McDonald    FL   1   18            98.0

   ENG_101_FINAL  ECON_101_FINAL  STAT_201_FINAL
0           95.0            95.0            95.0
1           80.0            90.0           200.0
2            NaN            80.0           300.0
3            NaN             NaN             NaN
4           40.0             NaN             NaN
5           50.0             NaN             NaN
6            NaN             NaN             NaN
7            NaN             NaN             NaN
8           60.0             NaN             NaN
9           65.0             NaN             NaN

,ROW,TITLE,FIRST_NAME,LAST_NAME,STATE,YR,AGE,CALC_101_FINAL,ENG_101_FINAL,ECON_101_FINAL,STAT_201_FINAL
0,1,Mr.,Alan,Nishihara,OR,4,21,95.0,95.0,95.0,95.0
1,2,Mr.,Daniel,Smith,NY,1,18,90.0,80.0,90.0,200.0
2,3,Mr.,Ben,Leibstrom,NY,1,19,80.0,NaN,80.0,300.0
3,4,Miss,Kavita,Kanabar,PA,1,19,NaN,NaN,NaN,NaN
4,5,Miss,Linda,Thiel,CA,4,22,60.0,40.0,NaN,NaN
5,6,Mr.,Omar,Reichel,OK,2,21,70.0,50.0,NaN,NaN
6,7,Miss,Jane,OConner,HI,2,19,NaN,NaN,NaN,NaN
7,8,Miss,Felicia,Rao,NY,3,20,NaN,NaN,NaN,NaN
8,9,Miss,Rachel,Crock,FL,1,17,NaN,60.0,NaN,NaN
9,10,Mr.,Bob,McDonald,FL,1,18,98.0,65.0,NaN,NaN