In [6]:
import pandas as pd
import xlwings as xw

students = (
  {'TITLE': ['MR.', 'MR.', 'Mr.', 'Mr.', 'Miss', 'Miss', 'Mr.', 'Miss', 'Miss', 'Miss', 'Mr.'],
   'LAST_NAME': ['NISHIHARA', 'NISHIHARA', 'NISHIHARA', 'NISHIHARA', 'NISHIHARA', 'Thiel', 'Reichel',
                 'OConner', 'Rao', 'Crock', 'McDonald'],
   'FIRST_NAME': ['ALAN_1', 'ALAN_1', 'ALAN_2', 'ALAN_2', 'ALAN_3', 'Linda', 'Omar', 'Jane', 'Felicia', 'Rachel', 'Bob'],
   'STATE': ['OR', 'TX', 'NY', 'NY', 'PA', 'CA', 'OK', 'HI',
                  'NY','FL', 'FL'],
   'YR': [5, 4, 1, 1, 1, 4, 2, 2, 3, 1, 1],
   'AGE': [22, 21, 30, 20, 19, 18, 17, 16, 15, 14, 13],
   'CALC_101_FINAL': [100, 99, 90, 80, None, 60, 70, None, None, None, 98],
   'ENG_101_FINAL': [100, 99, 80, None, None, 40, 50, None, None, 60, 65],
   'ECON_101_FINAL': [100, 99, 90, 80, None, None, None, None, None, None, None],
   'STAT_201_FINAL': [100, 101, 200, 300, None, None, None, None, None, None, None]})

df_students = pd.DataFrame(students)
df_students.index = [1,2,3,4,5,6,7,8,9,10,11]

# FILTER data
filtered_df = df_students.loc[(df_students['AGE'] > 1) & (df_students['YR'] > 0)]

# SORT data
sorted_df = filtered_df.sort_values(by=['LAST_NAME', 'FIRST_NAME', 'AGE'], ascending=[True, False, False])

# PRINT FILTERED and SORTED data
print(sorted_df)

   TITLE  LAST_NAME FIRST_NAME STATE  YR  AGE  CALC_101_FINAL  ENG_101_FINAL  \
10  Miss      Crock     Rachel    FL   1   14             NaN           60.0
11   Mr.   McDonald        Bob    FL   1   13            98.0           65.0
5   Miss  NISHIHARA     ALAN_3    PA   1   19             NaN            NaN
3    Mr.  NISHIHARA     ALAN_2    NY   1   30            90.0           80.0
4    Mr.  NISHIHARA     ALAN_2    NY   1   20            80.0            NaN
1    MR.  NISHIHARA     ALAN_1    OR   5   22           100.0          100.0
2    MR.  NISHIHARA     ALAN_1    TX   4   21            99.0           99.0
8   Miss    OConner       Jane    HI   2   16             NaN            NaN
9   Miss        Rao    Felicia    NY   3   15             NaN            NaN
7    Mr.    Reichel       Omar    OK   2   17            70.0           50.0
6   Miss      Thiel      Linda    CA   4   18            60.0           40.0

    ECON_101_FINAL  STAT_201_FINAL
10             NaN             NaN
11             NaN             NaN
5              NaN             NaN
3             90.0           200.0
4             80.0           300.0
1            100.0           100.0
2             99.0           101.0
8              NaN             NaN
9              NaN             NaN
7              NaN             NaN
6              NaN             NaN